@using DAL.EF.Entities
@model List<BuildingObject>

<div>
    <h4>BuildingObject</h4>
    <hr />
    <dl class="row">
        @foreach (var m in Model)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => m.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => m.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => m.ContractNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => m.ContractNumber)
            </dd>
        }
    </dl>
</div>
